$bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url('~bootstrap/dist/css/bootstrap.min.css');

.main{
    @extend .row;
    margin: 0 auto;
	width: 1200px;
}

button{
    outline: none;
}

@mixin border-text(){
    font-size: 30px;
    padding: 20px 22px;
    margin: 0px 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    line-height: inherit;

}
@mixin select(){  
    -webkit-appearance: none;
    -moz-appearance: none;
}

// Add User
.addPerson{
    margin: 150px 0;
    h2{
        font-size: 36px;
        color:gray;
        margin: 40px 20px;
    }
    > input{
        @include border-text;
        width:538px;
        background-color: #f2f2f2;
        &:focus{
            outline: none;
        }
    }   

    > select{
        @include border-text;
        @include select;
        color:gray;
        width:180px;
        background: url(../img/arrows.png) no-repeat;
        background-position: 88% 50%;
        background-color: #f2f2f2;
        &:focus{
            outline: none;
        }
    } 

    > button{
        @include border-text;
        font-family: 'fantasy';
        padding:20px 35px;
        text-decoration: none;
        cursor: pointer;
        background-color: #f2f2f2;
        >span{
            color:#9e9e9e;
        }
    } 
}

// Validate AddUserForm
.validate{
    display:block;
    float:left;
    margin: 5px 18px 0 0;
}

.validateName{
    width:400px;
}

.hideValidateBlock{
    visibility: hidden;
}

// table display users
table{
    background: #f5f5f5;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 1150px;
    tr{
        @extend .row;
    }
    thead{  
        tr{
        background: #FFF!important;    
            th{  
            font-size: 24px;
            font-weight: normal;
            padding: 30px;
            color:gray;
            text-align: left;
                >span{
                    margin:10px;
                }
            }
        }
    }
    tr:nth-child(odd) {background: #eef0f1}
    tr:nth-child(even) {background: #FFF}
    td{
        padding: 10px;
        text-align: left;
        font-size:28px;
        color:gray;
    }

    .name{
        @extend .col-lg-6;
        @extend .col-md-6;
        @extend .col-xs-6;
        >input{
            border:none;
            padding:15px;
            background: inherit;
        }
    }
    
    .gender {
        @extend .col-lg-2;
        @extend .col-md-2;
        @extend .col-xs-2;
        width: 20%;
        > select {       
            @include select;
            padding:20px;
            border: none;
            margin: 0;
            background: inherit;
        }
    
    }
    .age{
        @extend .col-lg-1;
        @extend .col-md-1;
        @extend .col-xs-1;
        width:14%;
        > select {       
            @include select;
            padding:20px;
            border: none;
            margin: 0;
            background: inherit;
        }
    }
    .edit{
        @extend .col-lg-1;
        @extend .col-md-1;
        @extend .col-xs-1;
    }
    .delete{
        @extend .col-lg-1;
        @extend .col-md-1;
        @extend .col-xs-1;
        margin-left: -12px;
    }

    .editUser, .deleteUser{
        text-align: right;
        padding:10px;
        > button{
            border:0;
            height:30px;
            width:30px;
            float:left;
            margin: 8px 32px 0 0;
            background: inherit;
            color:lightgray;
            >span{
                font-size: 27px;
            }
        }
        > span {
            width: 2px;
            height: 45px;
            background-color:lightgray;
            position: absolute;
        }
        .btnSaveEdit{                            
            color:#6b97ff;
            font-size: 27px;
        }
    }
    
    
}

// editable user
.editable {
    >td{
        >input{
            border: 2px solid #ededed !important;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        > select{
            background: url(../img/arrows.png) no-repeat;
            background-position: 92% 50%;
            border: 2px solid #ededed !important;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
    }
}

// sort icon table head
.sort-icon{
    background: url('../img/sort_icon.png') no-repeat center;
    height: 20px;
    width: 60px;
    border:0;
}

// remove user pop-up box
$removeTextColor: #6b6b6b;
.remove-container{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    .confirmRemove{
        margin: 0 auto;
        width: 60%;
        padding-bottom: 20px;
        position: absolute;
        top: 40%;
        left: 50%;        
        text-align: center;
        background: white;
        transform: translate(-50%,-50%);

        >h3{            
            font-family: serif;
            margin: 25px 0 35px 0;
            font-size: 34px;
            color: $removeTextColor;
        }
        >p{
            font-family: serif;
            margin-bottom: 50px;
            font-size: 18px;
            color: $removeTextColor;
        }
        .confirm-btn{     
            >button{      
                width: 200px;
                padding: 20px 50px;
                margin: 0px 20px; 
                border:0;
                border-radius: 5px;          
                font-weight: bolder;
                font-size: 17px;
                color: $removeTextColor;
                &:hover{
                    background-color: #1cabb5;
                    color:white; 
                }
            }
        }
    }
}

// pagination
.paging{
    text-align: center;
    width: 100%;
    margin-top:150px;
    .pagination{
        >span{
            border:none;
            font-size: 32px;
            padding: 14px 22px;
            color: #666;
            text-align: center; 
            text-decoration: none;  
            margin: 10px;            
        }
        .currentPage{  
            background: #cef3f2;
            border-radius: 50%;
        }
    }
}